/* Medium Devices, Desktops */

@media only screen and (max-height: 765px) {
  .mainLogo {
    width: 16%;
  }
}

@media only screen and (max-width: 1400px) {
  .faqContainer {
    grid-template-columns: 1fr;
  }
  #mediaContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .poolSingleButton {
    margin: 20px 0 !important;
  }

  #miningPoolController .generalController {
    height: 150px !important;
  }

  #miningPoolController .generalController {
    border-right: solid 1px #fff;
  }

  .dataStatisticsItem:last-child {
    border-bottom: none !important;
  }

  .listType {
    margin-top: 40px !important;
  }

  .infoSection {
    border: none !important;
  }

  #miningPoolController {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
  }

  #yourPoolSection {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    margin-top: 210px;
    padding-bottom: 80px;
  }

  #yourPoolSection .poolContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #miningPoolController {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .infoSection {
    margin-top: 64px;
    overflow-x: scroll;
  }

  .infoSection h2 {
    display: none !important;
    border-color: none;
  }

  #miningPoolController {
    max-height: 230px;
    border-bottom: solid 1px #fff;
    overflow: hidden;
    position: fixed;
    z-index: 1;
  }

  .addressTextBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .addressTextBox span {
    line-height: 50px;
  }

  .addressTextBox img {
    width: 30px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  #yourPoolSection .poolContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #mediaContainer {
    grid-template-columns: 1fr 1fr;
  }
  .bountySide {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -1px;
    z-index: 100;
  }
  .bountyPage {
    display: block;
  }
  .bountyCampaigns span {
    display: inline-block;
    width: 60px;
    border-left: solid 1px#3a3a3a;
    transition: none;
  }
  .bountyCampaigns span:last-child {
    border-right: solid 1px#3a3a3a;
  }
  .bountyMain {
    /*min-width: 1100px;*/
    padding: 70px 0 100px 0;
  }

  .bountySpinner {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 992px) {
  #papers .twoColums {
    grid-column-gap: 50px;
  }

  .btnPosition {
    margin-top: 60px !important;
  }

  .listElement div {
    line-height: normal;
  }

  .mobileTableShowTitle {
    display: block;
  }

  .poolSectionContainer .mobileTableShowTitle {
    display: none;
  }

  .infoBounty {
    display: block;
  }

  .countDown {
    height: 140px;
  }

  .transactionInfo {
    font-size: 12px;
  }

  #yourPoolSection .poolContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #mediaContainer {
    grid-template-columns: 1fr 1fr;
  }
  .teamWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #whatContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-timeline .timeline {
    width: 100%;
    margin-left: 10px !important;
  }
  .main-timeline .timeline:nth-child(even),
  .main-timeline .timeline:nth-child(odd) {
    margin: 0;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before {
    width: 30px;
    height: 100%;
    left: 25px;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(2n) .timeline-icon {
    left: 0;
  }
  .main-timeline .year,
  .main-timeline .timeline:nth-child(2n) .year {
    text-align: left;
    padding: 0 30px 0 100px;
  }
  .main-timeline .year:before,
  .main-timeline .timeline:nth-child(2n) .year:before {
    left: auto;
    right: 4px;
  }
  .main-timeline .year:after {
    left: auto;
    right: 50px;
    border-right: 10px solid #303a3b;
    border-left: none;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    text-align: left;
    padding: 18px 40px 18px 100px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline-content:after {
    width: 0;
    height: 0;
  }
  .main-timeline .timeline:first-child,
  .main-timeline .timeline:last-child:nth-child(even) {
    margin-left: 10px !important;
  }
  #whatContainer div {
    padding-bottom: 50px;
  }
  .main-timeline .year:before,
  .main-timeline .timeline .year:before {
    display: none;
  }

  .verticalAlignMiddleMobileFix {
    top: 40%;
  }
  #timeline {
    padding: 70px 0 60px 30px;
  }

  .listType {
    display: none;
  }

  .list {
    text-align: left;
  }

  .mobileTableShow .title {
    line-height: normal;
    height: 28px;
    overflow: hidden;
  }

  .mobileTableShow {
    white-space: nowrap;
  }

  .listElement {
    display: block;
    text-align: left;
  }

  .listHead {
    display: none;
  }

  .bountyMain .mobileTableShow {
    grid-template-columns: 160px 1fr;
    padding: 6px 0 2px 0;
    display: grid;
  }

  .bountyMain .mobileTableShow:nth-child(2n + 0) {
    background-color: #2b2b2b;
  }

  .bountyMain .mobileTableShowTitle,
  .bountyMain .mobileTableShowTitle div {
    font-size: 12px;
    padding: 0 !important;
    line-height: 20px;
    margin: 0 0 0 5px;
  }

  .bountyMain .listElement {
    margin-bottom: 20px;
    border-color: #131313;
  }

  .bountyMain .list {
    margin-top: 20px;
  }

  .bountyMain .list .title {
    height: auto;
    padding-left: 0;
  }

  .bountyMain .listElement:nth-child(2n + 0) {
    background-color: #464646;
  }

  .listElement {
    color: #a9a9a9;
  }

  .mobileTableShowTitle {
    color: #fff;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 831px) {
  .backgroundVideoWrap {
    display: none;
  }

  .bountyProgramPage #footer {
    display: none;
  }

  #footer {
    padding-bottom: 125px;
  }

  .our-team:hover {
    transform: none;
  }

  #papers .twoColums {
    display: block;
  }

  #papers .paperItem {
    height: auto;
    padding: 20px 0 30px 0;
  }

  #papers .blackPaper .paperItem2 {
    padding-bottom: 0;
  }

  #papers .whitePaper .paperItem2 {
    padding-top: 0;
  }

  .blackPaper {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .whitePaper {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  #papers .specialMarginTop {
    margin-top: 0 !important;
    padding: 0;
  }

  .paperItemColor1 {
    background-color: transparent !important;
  }

  .paperItemColor2 {
    background-color: transparent !important;
  }

  .paperItemColor3 {
    background-color: transparent !important;
  }

  .paperImg:hover {
    width: 160px !important;
    margin: 40px 0 10px 0 !important;
    transition: all 0.3s ease;
  }

  #paper {
    padding-top: 100px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .listType {
    margin-top: 10px !important;
  }

  .mottoWebSite {
    margin-top: 30px;
    line-height: 30px;
  }

  .mottoSubscript {
    font-size: 20px;
    margin-top: 0;
  }

  .statusMining {
    margin-top: 30px !important;
  }

  .threeTeamColums,
  .twoTeamColums {
    grid-template-columns: 1fr !important;
  }

  .specialRaw {
    grid-template-columns: 1fr !important;
  }

  .specialTitle {
    text-align: left !important;
  }

  .transactionInfo span {
    width: 100%;
  }

  .transactionInfo {
    grid-template-columns: 80px 100px 1fr 80px;
  }

  #yourPoolSection .poolContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #miningPoolController .generalController {
    border-right: none;
    height: auto !important;
    padding-bottom: 10px;
  }

  #miningPoolController {
    max-height: none;
  }

  #mediaContainer {
    grid-template-columns: 1fr;
  }

  #yourPoolSection {
    margin-top: 0;
    padding-top: 0;
  }

  .fullSection .verticalAlignMiddle {
    top: auto;
    transform: none;
  }

  .infoSection {
    margin-top: 0px;
  }

  #menu .openedMenuLink {
    width: 100%;
    display: block;
    padding: 15px 0;
    border-top: solid 1px #3c3c3c;
  }

  #menu .openedMenuLink:first-child {
    border-top: none;
  }

  #faqSection h1 {
    margin-top: 40px !important;
  }

  #miningPoolController {
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
  }

  #yourPoolSection {
    padding-top: 0;
    margin-left: 0;
  }

  #team .bigMarginTop {
    padding: 0 !important;
  }

  #faqSection .bigMarginTop {
    margin-bottom: 0;
  }

  .distributionContainer .distributionGrid:last-child {
    width: 90%;
  }

  #coinDistributionSection .bigMarginBottom {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .bigMarginTop {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  #timelineSection {
    padding-top: 50px;
  }

  #timelineSection h3 {
    margin-bottom: 0px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  #newCryptoSection {
    padding: 1px 0 10px 0;
  }

  #aboutSection {
    padding: 60px 0 !important;
  }

  .createPoolSection .bigMarginBottom {
    margin-bottom: 0;
  }

  .createPoolSection .poolDescription {
    width: 80% !important;
    margin: 0 auto;
  }

  #mainSection h3 {
    margin-top: 0;
  }

  #logoMenu {
    padding: 0px 20px !important;
  }

  .showMenu {
    padding: 20px 26px !important;
  }

  #mainSection h5 {
    margin-bottom: 30px;
  }

  .statusMining {
    margin-bottom: 0;
  }

  .createPoolSection .distributionContainer {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding-top: 0;
  }

  .createPoolSection {
    margin-bottom: 0;
  }

  .distributionContainer {
    grid-template-columns: 1fr;
    padding-bottom: 0px;
  }

  #newCryptoSection .featuresContainer {
    grid-template-columns: 1fr;
  }

  #socialLinks {
    float: right;
  }

  #mediaContainer {
    margin-left: 10px;
    margin-right: 10px;
  }

  #whatContainer h4 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
  }
  #networkSection h1 {
    margin-top: 90px;
  }
  #p2p-network {
    padding-top: 20px;
  }

  h1 {
    line-height: 42px;
    font-size: 26px;
  }
  h3 {
    letter-spacing: 2px;
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }
  .mainLogo {
    width: 35%;
    /*margin-bottom: 0;*/
  }
  .teamWrapper {
    grid-template-columns: 1fr 1fr;
  }
  #whatContainer {
    grid-template-columns: 1fr;
  }
  #aboutSection {
    padding: 1px 0 60px 0;
  }
  #aboutSection {
    padding: 100px 0;
  }
  #copyright {
    line-height: 5px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .secondCopyRight {
    font-size: 12px;
    line-height: 5px;
    margin-top: 10px;
    margin-left: 0;
    color: #e2e2e2;
    width: auto;
    display: block;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .distributionContainer .distributionGrid:last-child {
    margin-bottom: 50px;
  }

  #team .bigMarginTop,
  #newCryptoSection .bigMarginTop {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 40px !important;
    padding-top: 0px !important;
    margin-bottom: 40px !important;
  }

  .backgroundVideoWrap {
    top: 40px;
  }

  .distributionContainer .stats {
    padding-bottom: 20px;
  }

  .bountyCampaigns span {
    width: 12%;
  }

  .hideOnMobile {
    display: none !important;
  }
}

@media only screen and (max-width: 610px) {
  svg.WebDollarNativeMap {
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
  }

  .listType {
    margin-bottom: 10px;
  }

  .addressOnMobile {
    font-size: 10px;
  }

  .addressOnMobile .mobileTableShowTitle {
    display: none !important;
  }

  .showOnlyOnMobile {
    display: block;
  }

  .showOnlyOnMobile .walletListImage {
    display: block;
  }

  .walletListImage {
    display: none;
  }

  .smallFontAddress {
    display: block;
  }

  .selectedMinerInfo {
    display: none;
  }

  .infoSection {
    display: none;
    margin-left: 8px;
  }

  .poolSectionContainer .mobileTableShowTitle {
    display: block;
  }

  .transactionInfo {
    display: block;
    text-align: left;
    padding-left: 10px;
  }

  .mobileTableShowTitle {
    display: block;
    text-transform: uppercase;
    color: #fff;
  }

  .mobileTableShow {
    display: grid;
    grid-template-columns: 120px 1fr;
  }

  .tableHeader {
    display: none;
  }

  .transactionInfo:nth-child(2n + 0) {
    background-color: #333;
  }

  .poolQuickActions .twoColums {
    grid-template-columns: 1fr !important;
    grid-row-gap: 20px !important;
  }
}

@media only screen and (max-width: 550px) {
  .distributionContainer .stats {
    grid-template-columns: 1fr;
  }
  #mediaContainer {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  #miningPoolController .generalController {
    padding-bottom: 0px;
    margin-top: 5px;
  }

  #yourPoolSection .poolContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .show-balance-span {
    font-size: 18px;
    margin-right: 0;
  }

  #yourPoolSection .poolContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .textContainer {
    width: 100%;
    padding: 0 20px;
  }

  .checkItem {
    margin-left: 0;
  }
  .socialImage {
    padding: 13px 0px 14px 10px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 30px 20px 18px 80px;
  }
  .main-timeline .year,
  .main-timeline .timeline:nth-child(2n) .year {
    padding: 10px 0 0 90px;
  }
  #timeline {
    padding: 70px 0 60px 0;
  }
  .mainLogo {
    width: 40%;
  }
  .teamWrapper {
    grid-template-columns: 1fr;
  }
  .main-timeline .timeline:before {
    top: 10% !important;
  }
  #copyright {
    font-size: 10px;
  }
  .secondCopyRight {
    font-size: 7px;
  }
}

@media only screen and (max-width: 370px) {
  .linkIconSocial img {
    width: 30px !important;
  }

  .minedBy {
    font-size: 10px;
  }

  .btnPosition {
    margin-top: 30px !important;
  }
}
