@font-face {
  font-family: avenir;
  src: url(https://cdn.rawgit.com/lokesh/instapicker/bd9a933e/fonts/avenir-light.woff);
}

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #000;
  color: #D5D5D5;
  font-family: avenir;
}

input:focus, textarea:focus{
  outline: none;
}

h1{
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: #9a9a9a24;
  color: #ffc12c;
  line-height: 2.2em;
  font-size: 36px;
  font-weight: 100!important;
  word-wrap: break-word;
  transition: all .5s linear;
}

h2{
  color: #8e8e8e;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 100!important;
  line-height: 60px;
  transition: all .5s linear;
}

h3{
  color: #8e8e8e;
  letter-spacing: 4px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 100!important;
  line-height: 50px;
  color: #fff;
  transition: all .5s linear;
}

h4{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 100!important;
  color: #fff;
}

h5{
  display: block;
  font-weight: 100!important;
  padding: 10px 0;
  font-size: 16px;
}

span{
  width: 80%;
  display: block;
  margin: 0 auto;
  width: 80%;
  display: block;
  font-weight: 100!important;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 1px;
  color: #989898;
}

a{
  cursor: pointer;
  color:#f6cd69;
  transition: all .5s linear;
  text-decoration: none;
}

a:hover{
  color: #fff;
  transition: all .5s linear;
}

#whatContainer{
  display: grid;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  text-align: center;
}

#mainSection h1{
  background: transparent;
}

#mediaContainer{
  display: grid;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: center;
  margin-top: 100px;
}

#mediaContainer img{
  /*height: 50px;*/
  width: 290px;
    height:190px;
  border-radius: 10px;
  /*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
  /*filter: grayscale(100%);*/
}

.twoColums{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.twoTeamColums{
  grid-template-columns: 1fr 1fr!important;
}

.threeTeamColums{
  grid-template-columns: 1fr 1fr 1fr!important;
}

#whatContainer img{
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 100%;
}

.titleMarginBottom{
  margin-bottom: 30px!important;
}

.hide{
  display: none!important;
}

.fullHeight{
  height: 100%;
  width: 100%;
  top: 0!important;
  transform: none!important;
<!--overflow-y: scroll;-->
}

.backgroundVideoWrap{
  position:fixed;
  height: 100%;
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);;
  width:100%;
  top:60px;
  left:0;
  z-index: -10;
}

#websiteBody{
  transition: all .5s linear;
}

.verticalAlignMiddle{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.verticalAlignMiddleMap{
    transform: translateY(-10%);
}

.alignCenter{
  margin: 0 auto;
  text-align: center;
}

.backgroundVideo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position:fixed;
}

#header{
  position: fixed;
  display: block;
  width: 100%;
  max-height: 100%;
  top:0;
  background-color: #1f1f1f;
  z-index: 10;
  border-bottom: solid 1px;
}

#menu{
  /*float: right;*/
  /*padding: 28px 32px 21px 0;*/
}

#menu ul li{
  cursor: pointer;
  display: inline-block;
  margin-left: 30px;
  font-family: avenir;
  color: #D5D5D5;
  transition: all 0.6s ease;
}

#menu ul li:hover{
  color: #fcd26c;
  transition: all 0.6s ease;
}

#logo{
  width: 30px;
  transition: all .5s linear;
}

#logoBox{
  float: left;
  padding: 14px 20px;
  transform: translateY(5%);
}

.backgroundSection{
  background-color: #1b1b1b;
}

#newCryptoSection{
  padding: 1px 0 80px 0;
}

#knowUsSection{
  background-color: #1b1b1b;
  padding: 70px 0;
}

#timelineSection{
  padding: 1px 0 0 0;
}

.fullSection{
  overflow: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.teamRole{
  color: #fcd26c;
  font-size: 12px;
  margin-top: 8px;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
}

.teamWrapper p{
  font-size: 16px;
  background-color: #020102ad;
  border-radius: 5px;
  padding: 20px 20px;
}

.teamWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 70px;
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;

}

.threeMembersTeam{
  grid-template-columns: 1fr 1fr 1fr
}

.teamWrapper h4{
  line-height: 25px;
}

.marginTop{
  margin-top: 20px;
}

.bigMarginBottom{
  margin-bottom: 100px;
}

.teamWrapper .our-team .team-pic{
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 25px;
}

#mediaContainer:hover h1{
display:none;
background-color:#ff2200}

.teamWrapper .our-team .team-pic img{
  width: 150px;
  height: 150px;
}

/*.teamWrapper .our-team .team-pic img:hover{*/
  /*!*background: linear-gradient(rgba(32,32,32,1),rgba(32,32,32,1));*!*/
/*}*/

.teamWrapper .our-team .team-pic .over-layer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(35, 35, 35, 0.88);
  opacity:0;
  transition: all 0.30s ease 0s;
}

.teamWrapper .our-team .over-layer:hover{
  opacity:1;
}

.teamWrapper .our-team .social-link{
  margin:0;
  padding:0;
  position:relative;
  top:65%;
  left:0;
  list-style:none;
  transition:all 0.50s ease 0s;
}
.teamWrapper .our-team .over-layer:hover .social-link{
  top:45%;
}
.teamWrapper .our-team .social-link li{
  display: inline-block;
  margin-right:5px;
  transition: all 0.40s linear 0s;
  transform: translateY(0px);
}
.teamWrapper .our-team .social-link li a{

  color:#fcd26c;
  background: #1b1b1b;
  font-size:22px;
  border-radius:50%;
  text-align: center;
  padding:7px;
  text-decoration: none;
}
.teamWrapper .our-team .social-link-4 li a {
  font-size: 18px;
}

.teamWrapper .our-team .social-link li a:hover{
  background: #4f4f4f;
  color: #fcd26c;
}

.teamWrapper .our-team .social-link li:hover{
  transform: translateY(-13px);
}

.countDownComponent{
  margin-top: -50px;
}

/*

.teamWrapper .our-team .social-link li a.fa-facebook:hover{
  color:#5d82d1;
}
.teamWrapper .our-team .social-link li a.fa-google:hover{
  color:#eb5e4c;
}
.teamWrapper .our-team .social-link li a.fa-twitter:hover{
  color:#40bff5;
}
*/

#mainSection h1{
  letter-spacing: 4px;
}

.mainLogo{
  width: 15%;
  max-width: 300px;
  height: auto;
  opacity: 0.8;
  margin-bottom: 30px;
  padding: 5px;
  /* -webkit-filter: drop-shadow(0px 2px 6px rgba(255, 255, 255, 0.84)); */
  /* filter: drop-shadow(0px 2px 6px rgba(255, 255, 255, 0.84)); */
}

#footer{
  background-color: #1f1f1f;
  width: 100%;
  height: 52px;
  display: block;
  padding-bottom:35px;
  border-top: solid 1px #444444;
}

.bountyProgramPage #footer{
  display: none;
}

.bountySideScroll .info{
  padding-bottom: 0;
}


#copyright{
  display: inline-block;
  font-size: 12px;
  line-height: 48px;
  margin-left: 20px;
  color: #e2e2e2;
  width: auto;
}

.secondCopyRight{
  font-size: 12px;
  line-height: 5px;
  margin-top: 10px;
  margin-left: 0;
  color: #e2e2e2;
  width: auto;
  display: inline-block;
}

#copyright a{
  color: #ffffff;
  text-decoration: none;
}

#socialLinks{
  display: inline-block;
  right: 0;
  position: relative;
  float: left;
  margin-right: 20px;
}

#socialLinks *{
  -webkit-box-sizing:initial;
}

.socialImage{
  width: 22px;
  padding: 13px 0px 14px 20px;
  cursor: pointer;
}

#teamSection{
  display: inline-block;
  overflow-x: hidden;
}

.yellowColor{
  color: #fcd26c;
}

.main-timeline{
  overflow: hidden;
  position: relative;
}
.main-timeline .timeline{
  width: 50%;
  float: left;
  z-index: 1;
  position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
  content: "";
  display: block;
  clear: both;
}
.main-timeline .timeline:before{
  content: "";
  width: 20px;
  height: 105%;
  background: #fec02c;
  position: absolute;
  top: 10%;
  right: -10px;
}
.main-timeline .timeline:last-child:before{ height: 0; }
.main-timeline .timeline-icon{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fec02c;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 3;
}
.main-timeline .timeline-icon:before{
  content: "";
  width: 70px;
  height: 60px;
  border-radius: 50%;
  background: #262626;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.main-timeline .timeline-icon i{
  font-size: 35px;
  color: #fff;
  line-height: 80px;
  z-index: 1;
  position: relative;
}
.main-timeline .year{
  display: block;
  padding: 0 60px 0 -20px;
  color: #ffc12c;
  text-align: right;
  border-bottom: 2px solid #545454;
  z-index: 2;
  position: relative;
  font-size: 20px;
}
.main-timeline .year:before{
  content: "";
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fec02c;
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: -4px;
}
.main-timeline .year:after{
  content: "";
  border-left: 10px solid #fec02c;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -11px;
  left: 50px;
  display: none;
}
.main-timeline .timeline-content{
  padding: 18px 60px 18px 40px;
  text-align: right;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline-content .title{
  text-transform: uppercase;
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
  content: "";
  width: 80px;
  height: 150px;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  <!--background: #201f20;-->
  position: absolute;
  top: 0;
  right: 15px;
  z-index: -1;
}
.main-timeline .timeline-content:after{
  left: auto;
  right: -95px;
}
.main-timeline .timeline:last-child .timeline-content:before,
.main-timeline .timeline:last-child .timeline-content:after{
  width: 0;
  height: 0;
}
.main-timeline .title{
  font-size: 22px;
  font-weight: bold;
  color: #ccc;
  margin-top: 0;
}
.main-timeline .description{
  font-size: 16px;
  color: #b3b3b3;
  line-height: 25px;
}
.main-timeline .timeline:nth-child(2){ margin-top: 140px; }
.main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }
.main-timeline .timeline:nth-child(odd){ margin: -110px 0 0 0; }
.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even){
  margin: 0 !important;
}
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon{
  right: auto;
  left: -10px;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{ left: -40px }
.main-timeline .timeline:nth-child(2n) .year{
  padding: 0 30px 0 0;
  text-align: left;
}
.main-timeline .timeline:nth-child(2n) .year:before{
  left: auto;
  right: -3px;
}
.main-timeline .timeline:nth-child(2n) .year:after{
  border-left: none;
  border-right: 10px solid #303a3b;
  right: 50px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
  padding: 18px 40px 18px 60px;
  text-align: left;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{ left: -95px; }
.main-timeline .timeline:nth-child(2n) .timeline-content:after{ left: 15px; }
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .timeline-icon{ background: #fec02c; }
.main-timeline .timeline:nth-child(2n) .timeline-icon:before{
  border-color: #fec02c;
}
.main-timeline .timeline:nth-child(2n) .year:before{
  background: #fec02c;
}
.main-timeline .timeline:nth-child(2n) .title{ color: #ccc; }
.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .timeline-icon{ background: #fec02c;  }
.main-timeline .timeline:nth-child(3n) .timeline-icon:before{
  border-color: #fec02c;
}
.main-timeline .timeline:nth-child(3n) .year:before{
  background: #fec02c;
}
.main-timeline .timeline:nth-child(3n) .title{ color: #ccc; }
.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .timeline-icon{
  background: #fec02c;
}
.main-timeline .timeline:nth-child(4n) .timeline-icon:before{
  border-color: #fec02c;
}
.main-timeline .timeline:nth-child(4n) .year:before{
  background: #fec02c;
}
.main-timeline .timeline:nth-child(4n) .title{ color: #ccc; }

#whatContainer h4{
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  height: 55px;
}

#team h4{
  text-transform: uppercase;
  height: 30px;
}

#team{
  margin-bottom: 80px;
}

#whatContainer p{
  color: #8e8e8e;
}

.topnav {
  overflow: hidden;
  background-color: #1b1b1b;
  border-bottom: solid 1px #212121;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 14px;
  transition: all .3s linear;
}

.topnav a:hover {
  background-color: #232323;
  color: #ffc12c;
  transition: all .3s linear;
}

.active {
  background-color: #1b1b1b;
  color: white;
}

.topnav .icon {
  display: none;
}

#logoMenu{
  padding: 10px 20px!important;
  float:left!important;
}

#logoMenu img{
  margin-top: 5px;
}

.showMenu{
  padding: 21px 26px!important;
}

#networkSection h1{
  margin-top: 20px;
}

.btnPosition{
  margin-top: 100px!important;
}

.btn-cont {
  text-align: center;
  margin-top: 10px;
}
.btn-cont .btn {
  position: relative;
  padding: 10px 30px;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  font-size: 1.125em;
  font-family: 'lato', sans-serif;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
  animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
  animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
  animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
  animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: white;
  left: 0;
  top: -2px;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: white;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: white;
  right: 0;
  bottom: -3px;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

.p2pNetwork,#p2p-network,#what-is-WebDollar,#timelineSection{
    padding-top: 60px;
}

#timelineSection{
  padding-top: 90px;
}

#mainSection{
    margin-top: 60px;
}

#p2p-network h3,#timelineSection h3, #knowUsSection h3, .p2pNetwork{
  font-weight: 100;
  color: #efe0be;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 40px;
  margin-top: 10px;
  line-height: 24px;
}

#timelineSection h3{
  margin-bottom: 20px;
}

#timeline{
  margin-top: 70px;
  background-color: #1f1f1f;
  padding: 70px 0 60px 0;
}

.networkDifficulty{
  display: inline;
  font-size: 14px;
  color: #fec02c;
}

#mainSection h5{
  padding: 10px 0;
  font-size: 12px;
  margin-bottom: 0px;
  padding-bottom: 60px;
  margin-top: 0;
  padding-top: 0;
  display: block;
}

#transactionContainer{
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}


#WebDollarMap {
  padding: 30px 0;
}

.collapse .collapse-header{
  background: #ffffff00!important;
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  color: #9d9d9d;
  cursor: pointer;
  width: 100%;
}

#faqSection .bigMarginTop{
  margin-bottom: 70px;
}

.collapse .collapse-content-box{
  border: none!important;
  text-align: left;
  padding: 30px!important;
  line-height: 30px;
  color: #e8e8e8;
}

#faqSection h1{
  margin-top: 130px!important;
}

.backgroundSection h1{
  background: transparent;
}

#what-is-WebDollar .backgroundSection h1{
  width: 90%;
}

#faqSection{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.collapse .collapse-content-box{
  background-color: #292929e0!important
}

.testnet{
  color: #0f0;
}

.newCryptoText{
  display: inline-block;
  margin-top: 2px;
  vertical-align: top;
  margin-left: 5px;
}

.textContainer{
  width: 90%;
  display: block;
  margin: 0 auto;
}

.checkItem{
  margin-left: 30px;
}

.textContainer h2{
  color: #bfbfbf;
  letter-spacing: 1px;
  border-bottom: solid 1px #444;
  line-height: 45px;
  margin-bottom: 20px;
}

#walletButtonText svg path, #walletButtonText svg rect{
  fill: #1f1f1f;
}

.alreadyMining{
  display: none;
}

.inlineBlock{
  display: inline-block;
}

#myProgress {
  width: 100%;
  background-color: #292929;
  border-radius: 30px;
}

#myRound {
  width: 98%;
  margin: 0 auto;
  background-color: #292929;
  border-radius: 30px;
  margin-bottom: 10px;
}

#myRoundBar {
  width: 100%;
  height: 5px;
  background-color: #ccb27d63;
  border-radius: 30px;
}

#myBar {
  width: 70%;
  height: 25px;
  background-color: #fec249;
  border-radius: 30px;
}

.webdCoin{
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  margin-top: 40px;
}

.coinLogo{
  width: 220px;
}

.maxWidthSection{
  max-width: 1000px;
  margin: 0 auto;
}

.distributionContainer{
  padding: 50px 0;
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 40px;
}

#createPoolSection .distributionContainer{
  grid-template-columns: 1fr 1fr;
}

.spinCoin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spinCoin {
  animation: spinCoin 5s linear infinite;
}
@keyframes spinCoin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-1 {
  transform: scaleX(.5);
}
.box-2 {
  transform: scaleY(1.15);
}
.box-3 {
  transform: scale(.5, 1.15);
}

.distributionContainer .minValue{
  display: inline-block;
  float: left;
  position: relative;
  width: auto;
  font-size: 12px;
  margin-top: 15px;
  color: #ccc;
}

.distributionContainer .maxValue{
  display: inline-block;
  float: right;
  position: relative;
  width: auto;
  font-size: 12px;
  margin-top: 15px;
  color: #ccc;
}

.distributionContainer .stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 30px;
  padding-top: 20px;
}

.distributionContainer .stats .value{
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.distributionContainer .stats .description{
  color: #ccc;
  text-align: center;
  font-size: 12px;
  width: 100%;
}

#newCryptoSection .featuresContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 40px;
}

#newCryptoSection .bigMarginTop{
  margin-bottom: 100px;
}

.unfinishedMilestones{
  background: #545454!important;
}

.main-timeline .timelineUnfinishedMilestones:before{
  background: #545454!important;
}

.distributionContainer .distributionGrid:last-child{
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.createPoolSection .distributionContainer{
  grid-template-columns: 1fr 1fr;
}

.collapse{
  text-align: center;
  background-color: #1b1b1b;
}

.collapse .collapse-header > div{
  display: block!important;
  text-align: left;
}

.poolDescription{
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
}

.createPoolLink{
  color: #D5D5D5;
  text-align: center;
  text-size:14px;
}

.copyPoolLink{
  color: #262626;
  text-align: center;
  font-size: 14px;
  cursor:pointer;
  background-color: #fec02c;
  width: 170px;
  font-weight: bolder;
  line-height: 34px;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
  letter-spacing: 0;
  transition: all 0.5s ease
}

.copyPoolLink:hover{
  background-color: #ffdc87;
  color: #383838;
  transition: all 0.5s ease
}

.map-dialog{
  z-index: 1600!important;
}

#yourPoolSection .poolContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

#yourPoolSection .poolContainer .miner{
  background-image: url('./../images/browserMining.png');
  width: 58px;
  height: 60px;
  background-size: cover;
  margin: 0 auto;
  background-color: #101010;
}

#yourPoolSection .poolContainer .miner img{
  display: none;
}

#yourPoolSection .poolContainer .activeMiner{
  background-image: url('./../images/activeBrowserMining.png')!important;
  width: 58px!important;
  height: 60px!important;
  background-size: cover!important;
  margin: 0 auto!important;
  background-color: #101010!important;
}

.distributionContainer .stats .value{
  font-size: 30px;
  margin-top: 40px;
  width: 100%;
}

#yourPoolSection .poolContainer .miner .status{
  bottom: 0;
  text-align: center;
  font-size: 10px;
  margin-top: 16px;
}
#yourPoolSection .poolContainer .activeMiner .status{
  color: #fff
}

@keyframes spinMining {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#yourPoolSection{
  padding-top: 90px;
  padding-bottom: 80px;
}

.createPoolSection{
  margin-bottom: 100px;
}

.createPoolSection .subtitle{
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  color: #fec02c;
}

.createPoolSection .createPoolLink{
  width: 80%!important;
  margin: 0 auto;
  border-top: solid 1px #444;
  padding-top: 30px;
}

.createPoolSection .bigMarginBottom{
  margin-bottom: 60px;
  margin-top: 60px;
}

.createPoolSection .poolSlider .miningSlider{
  width: 80%!important;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top .vue-slider-tooltip::before{
  bottom: -8px;
}

#miningPoolController{
  width: 30%;
  background-color: #262626;
  border-right: solid 1px #444;
  display: block;
  position: absolute;
  /* min-width: 30%; */
  max-width: 350px;
  width: 350px;
  height: 100%;
  position: fixed;
  overflow-y: scroll!important;
}

.tableHeader{
  background-color: #2d2d2d!important;
}

.tableHeader span{
  color: #d4d4d4;
}

.mobileTableShowTitle{
  display: none;
}

#yourPoolSection{
  margin-left: 350px;
}

#yourPoolSection .poolSectionContainer{
  margin: 0 auto;
  padding: 0 10px;
}

#newsLetter{
  padding: 20px 0;
}

#miningPoolController h2{
  text-align: center;
  font-size: 16px;
  color: #fec02c;
}

#miningPoolController .generalController {
  padding-top: 65px;
  background-color: #2d2d2d;
  border-bottom: solid 1px #444;
  padding-bottom: 0px;
  height: 150px;
  margin-top: 15px;
}

#miningPoolController .poolSlider .miningSlider {
  width: 85%!important;
  margin: 0 auto;
  margin-top: 30px;
}

.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top .vue-slider-tooltip::before{
  bottom: -9px!important;
}

.selectedMinerInfo{
  padding: 0;
  font-size: 12px;
  color: #adadad;
}

.selectedMinerInfo p{
  padding: 5px 0;
  display: block;
}

.minerData{
  display: inline-block;
  color: #fec02c;
  width: auto;
}

.faqContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.textAlignCenter{
  text-align: center;
  letter-spacing: 1px;
  color: #d0cfcf;
  background-color: #e6e6e647;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 22px;
  padding: 15px 0;
  cursor: pointer;
  transition:all 0.50s ease 0s;
}

.textAlignCenter:hover{
  background-color: rgba(255, 255, 255, 0.83);
  color: rgba(35, 35, 35, 1);
  transition:all 0.50s ease 0s;
}

#menu .spanCorrect{
  width: auto!important;
  display: inline!important;
  margin: auto!important;
  line-height: normal!important;
  letter-spacing: normal!important;
}

.vuejs-countdown{
  color: #fdfdfd;
}

#mediaContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0 30px;
}

#knowUsSection h1{
  margin-bottom: 70px;
}

#knowUsSection h3{
  color: #ffdd8d;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.mediaContentBox{
  max-width: 350px;
  margin: 0 auto;
}

.mediaContentBox span{
  line-height: 18px;
}

.pageTitle{
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: #9a9a9a24;
  color: #ffc12c;
  text-transform: none;
  line-height: 2.2em;
  font-size: 36px;
  width: 100%;
  word-wrap: break-word;
  transition: all .5s linear;
}

.removeBackground{
  background: rgba(255, 34, 0, 0);
}

.teamName{
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100!important;
  color: #fff;
}

.bigMarginTop{
  margin-top: 100px;
  margin-bottom: 100px;
}

.bountyPage{
  /*display: grid;*/
  /*grid-template-columns: 300px 1fr;*/
  margin-top: 65px;
  width: 100%;
  box-sizing: border-box;
}


.bountyCampaigns{
  display: block;
  text-align: center;
}

.bountyCampaigns span{
  padding: 10px 0;
  width: 100%;
  background-color: #484848;
  margin: 1px 0;
  cursor: pointer;
  transition: all .5s linear;
}

.bountyCampaigns span:hover{
  background-color: #313131;
  color: #d5d5d5;
  transition: all .5s linear;
}

.selectedCampaign{
  background-color: #fec02c!important;
  color: #232323!important;
  transition: all .5s linear;
}

.bountySide{
  width:70px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  background-color: #484848;
  height: 100%;
  z-index: 50;
}

.bountyMain{
  padding: 10px 10px 100px 80px;
  width: 100%;
  /*min-width: 1200px;*/
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box!important;
}

.bountyCampaigns span{
  color:#f9f9f9;
  font-size:20px;
  border-bottom: solid 1px#3a3a3a;
}

.bountyPage .register{
  display: block;
  padding: 5px;
}

.bountyPage .register .inputs{
  display: block;
  margin-bottom: 10px;
}

.bountyPage .register input{
  width: 100%;
  background-color: #313131;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  color: #fff;
  padding: 7px;
}

.bountyPage .register button{
  background-color: #fec02c;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  width: 80%;
  display: block;
  transition: all .5s linear;
}

.bountyPage .register button:hover{
  background-color: #d1bd36;
  transition: all .5s linear;
}

.register h2{
  text-align: center;
  letter-spacing: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.listElement{
  display: grid;
  border:solid 1px #313131;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
  color: #777;
  background-color: #171717d9;
  transition: all .5s linear;
}

.listElement:hover{
  background-color: #090909;
  transition: all .5s linear;
}

/*.listElement div{*/
  /*padding: 5px 0;*/
  /*border-right: solid 1px #313131;*/
/*}*/

.listElement div:last-child{
  border:none
}

.list .listElement:first-child{
  border-top:solid 1px #313131;
}

.youtubeElement{
  grid-template-columns: 50px 1fr 120px 120px 80px 80px 100px 130px;
}

.facebookElement{
  grid-template-columns: 50px 1fr 80px 80px 90px 120px 130px;
}

.twitterElement{
  grid-template-columns: 50px 1fr 180px 80px 80px 90px 120px 130px;
}

.telegramElement{
  grid-template-columns: 50px 1fr 150px 100px 100px 130px;
}

.redditElement{
    grid-template-columns: 50px 1fr 200px 120px 90px 120px 130px;
}

.webSiteElement{
  grid-template-columns: 50px 1fr 120px 120px 130px;
}

.instagramElement{
    grid-template-columns: 50px 1fr 80px 90px 100px 130px;
}

.listElement .title{
  text-align: left;
  padding-left: 5px;
}

.listHead{
  background-color: #1b1b1b;
}

.score{
  color: #fec02c!important;
}

.countDown{
  text-align: center;
  background-color: #1b1b1b;
  padding: 10px;
}

.countDown span{
    width: 100%;
    margin-top: -15px;
}

.countDownTitle{
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
}

.bountySideScroll{
  display: block;
  background-color: #121012b3;
}

.button{
  background-color: #fec02c;
  border: none;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  cursor:pointer;
  font-size: 12px;
  width: 80%;
  display: block;
  transition: all .5s linear;
}

.button:hover{
  background-color: #d1bd36;
  transition: all .5s linear;
}

.buttonMargin{
  margin: 15px 0 10px 0;
}

.infoBounty{
  display: grid;
  grid-template-columns: 300px 1fr;
}

.infoBountyPlus{
  grid-template-columns: 300px 1fr 300px;
}

.campaignInfo{
  padding: 5px 10px;
}

.infoLine{
  width: 100%;
}

.infoLine b{
  color:#e2c98e!important
}

#newsletterSection{
  display: block;
  padding: 40px 0;
}

.websiteButton{
  color: #262626;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  width: 200px;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 40px;
  cursor:pointer;
  border-radius: 25px;
  margin-top: 40px;
  transition: all 0.30s ease 0s;
}

.websiteButton:hover{
  background-color: #fec02c;
  transition: all 0.30s ease 0s;
}

#newsletterContainer input{
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  border: solid 1px #464646;
  border-radius: 5px;
  background-color: #262626;
  padding: 10px;
  color: #fff;
}

.newsletterText{
  text-align: center;
  margin-bottom: 20px;
}

.capitalize{
  text-transform: capitalize;
}

#newsletterContainer .error{
  text-align: center;
  color: #c7503e;
  display: block;
  margin-top: 8px;
}

#newsletterContainer .success{
  text-align: center;
  color: #57af51;
}

.vuejs-countdown {
  padding: 0;
  margin: 0;
}

.vuejs-countdown li p {
  margin: 0;
}

.vuejs-countdown li {
  display: inline-block;
  margin: 0 8px;
  text-align: center;
  position: relative;
}

.vuejs-countdown .digit {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0;
  color: #fec02c;
}

.vuejs-countdown .text {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 10px;
}

.finishedCount{
  color: #fec02c;
  display: block;
  margin-top: 0px;
}

.bountySpinner svg{
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 120px;
}

.bountySpinner{
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
  fill: #fec02c;
  margin-top: 120px;
}

.submitLink{
  background-color: #1c1c1c;
  padding: 10px 20px!important;
}

.socialLinksNewsletter{
  text-align: center;
}

.socialLinksNewsletter .socialLinkWEBD{
  font-size: 26px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.30s ease 0s;
}
.socialLinksNewsletter .socialLinkWEBD:hover{
  color: #fec02c;
  transition: all 0.30s ease 0s;
}

.disclaimer{
  text-align: center;
  color: #fec02c;
  font-size: 30px;
  margin-bottom: 80px;
}

.attention{
  color: #f20;
}

.balanceExp .address{
  text-align: left;
  padding-left: 10px;
}

.disabledColors{
  background-color: #bdbdbd2e!important;
  color: #585858!important;
  cursor: auto!important;
}

.disabledSlider {
  /*background: #fec02c !important;*/
  background: linear-gradient(to right, #3e3623 29%, #422d2d 100%) !important;
}

.countDownDesc{
  margin-top: 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
}

.balancesExplorer{
  width: 690px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.balancesExplorer .list{
  display:grid;
  grid-template-columns: 50px 30px 450px 150px;
  cursor: pointer;
}

.balancesExplorer .listHead{
  display:grid;
  grid-template-columns: 50px 30px 450px 150px;
  margin-top: 30px;
}

.blocksExplorer{
  width: 810px;
}

.blocksExplorer .list, .blocksExplorer .listHead{
  grid-template-columns: 70px 30px 120px 450px 150px;
}

.balancesExplorer .title{
  text-align: center;
}

.balanceExp h1{
    margin-top: 100px;
    text-align: center;
}

.balanceExp path{
    fill: rgb(254, 192, 44)!important;
}

.miner{
  cursor: pointer;
  transition: all .5s linear;
}

.miner:hover{
  -webkit-box-shadow: 0px 0px 48px -2px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 48px -2px rgba(255,255,255,1);
  box-shadow: 0px 0px 48px -2px rgba(255,255,255,1);
  transition: all .3s linear;
}

.transactionInfo{
  width: 100%;
  display: grid;
  grid-template-columns: 100px 180px 1fr 100px;
  margin: 10px 0;
  background-color: #ffffff21;
  text-align: center;
  transition: all .5s linear;
}

.transactionInfo:hover{
  background-color: #ffffff21;
  transition: all .5s linear;
}

.poolSectionContainer .transactionInfo{
  cursor: pointer;
}

.poolSectionContainer .tableHeader{
  cursor: auto;
}

.buttonSmall{
  cursor: pointer;
  background-color: #6f6e6f;
  color: #ffffff;
  margin-right: 10px;
  padding: 0 10px;
  border-radius: 5px;
}

.selected{
  background-color: #fec02c;
  color: #000;
}

.yellowText{
  color:#fec02c;
}

.generalController{
  padding-top: 65px;
  background-color: #2d2d2d;
  border-bottom: solid 1px #444;
  height: 250px;
}

.selectedMinerInfo .address{
  font-size: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.titlePool{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#footer{
  display: none;
}

#yourPoolSection{
  padding-top: 63px;
}

.poolContainer{
  padding-top: 25px;
}

.mobileTableShow .title{
  line-height: 28px;
  height: 28px;
  overflow: hidden;
}

.listElement div{
  line-height: 28px;
}

.greenColor{
  color:#76d631;
}

.oneLineText{
  display: block;
}

.normalSpan{
  width: auto;
  display: inline-block;
}

.redColor{
  color:#ec7360;
}

.marginSubtitle{
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
}

.poolSelect{
  background: transparent;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
}

.poolSelect:focus{
  outline:none
}

.noTransform{
  text-transform: none;
}

.titleWebSite{
  font-size:40px;
}

.mottoWebSite {
  font-size: 20px;
  margin-top: 0;
  line-height: 0px;
}

.mottoSubscript {
  font-size: 15px !important;
  /* margin-top: 0; */
  line-height: 6;
  color: #f3daa0;
}

.Uppercase{
  text-transform: capitalize;
}

.aboutTitle{
  margin-bottom: 90px!important;
}

.statusMining{
  margin-top: 80px!important;
  font-size: 16px!important;
  letter-spacing: 1px;
  color: #f3daa0;
  margin-bottom: 0;
}

.webSiteVerticalMiddle{
  margin: 0;
  position: absolute;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}

.noOverflow{
  overflow: hidden;
}

.notificationsBox{
  cursor: pointer;
}

.notificationsBox span{
  width: 100%!important;
  line-height: 14px!important;
  letter-spacing: 0!important;
  font-family: sans-serif;
}

.notificationsBox .notification-content{
  font-size: 14px;
}

.notificationsBox .notification-title{
  font-size: 16px;
  font-weight: bold;
}

.walletListImage{
  width: 25px;
  border-radius: 50%;
}

.walletDescriptionImage{
  border-radius: 50%;
  width: 60px;
  margin: 0 auto;
  margin-top: 10px;
}

.showOnlyOnMobile{
  display: none;
}

.smallFontAddress{
  display: none;
}

#miningPoolController{
  border-bottom: solid 1px#ffffff;
}

.sectionCenteredWidth{
  max-width: 1300px;
  margin: 0 auto;
}

.ajustedSectionCenteredWidth{
  max-height: 1000px;
}