<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ SEOMixinTitle.title }}</title>

    <meta name="description" content="{{ SEOMixinDescription.description }}">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="{{ SEOMixinKeywords.toString() }}">
    <meta http-equiv="content-language" content="{{ SEOMixinLanguage }}" />
    <meta name="language" content="{{ SEOMixinLanguage }}" />
    <meta name="copyright" content="{{ SEOMixinCopyright }}">

    <meta property="fb:app_id" content="513540245504678" />
    <meta property="fb:app_id" content="51vezi3540245504678" />
    <meta property="og:type"   content="{{ pageType }}" />

    <meta property="og:url"    content="https://webdollar.nl" />

    <meta property="og:title"  content="{{ SEOMixinTitle.facebook }}" />
    <meta property="og:description"  content="{{ SEOMixinDescription.facebook }}" />

    <meta name="google-site-verification" content="H1d-mGDiBeFhUDV_cm-gyxfs1w6J9hYf0uuDCoYbVGw" />

    {{{ SEOMixinImages }}}

    <script type="application/ld+json">
      {{{ JSON.stringify(SEOMixinSchemaMarkup) }}}
    </script>

    <script type="application/ld+json">
      {{{ JSON.stringify(SEOMixinBreadcrumbsSchemaMarkup) }}}
    </script>

    <meta name="google-site-verification" content="9oJUXypewXWn4zVhUMECHc1a-FPaJkPf6Yw7TBRKX6U" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@WebDollar_io" />
    <meta name="twitter:title" content="{{ SEOMixinTitle.twitter }}" />
    <meta name="twitter:description" content="{{ SEOMixinDescription.twitter }}" />

    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/assets/images/logo-120.png">
    <link rel="shortcut icon" sizes="48x48" href="/public/assets/images/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="6iS7Zzeq9FI1cneuWsA6XNT_APAdQAcDqM5Qg3pWLBM" />

    <link rel="manifest" href="/manifest.json">
    <noscript>To run this application, JavaScript is required to be enabled.</noscript>
    <meta name="theme-color" content="#000000" />

  </head>

  <body class="fixed-sidebar fixed-nav fixed-nav-basic" style="background-color: #2f4050 !important;">
    <!--vue-ssr-outlet-->
  </body>


  <!-- GOOGLE ANALYTICS -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-111361330-1', 'auto');
      ga('send', 'pageview');
  </script>

  <!-- Hotjar Tracking Code for https://www.webdollar.io -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:726326,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var lazyloadImages = document.querySelectorAll("img.lazy");
          var lazyloadThrottleTimeout;

          function lazyload () {
              if(lazyloadThrottleTimeout) {
                  clearTimeout(lazyloadThrottleTimeout);
              }

              lazyloadThrottleTimeout = setTimeout(function() {
                  var scrollTop = window.pageYOffset;
                  lazyloadImages.forEach(function(img) {
                      if(img.offsetTop < (window.innerHeight + scrollTop)) {
                          img.src = img.dataset.src;
                          img.classList.remove('lazy');
                      }
                  });
                  if(lazyloadImages.length == 0) {
                      document.removeEventListener("scroll", lazyload);
                      window.removeEventListener("resize", lazyload);
                      window.removeEventListener("orientationChange", lazyload);
                  }
              }, 20);
          }

          document.addEventListener("scroll", lazyload);
          window.addEventListener("resize", lazyload);
          window.addEventListener("orientationChange", lazyload);
      });
  </script>

  <script id="protocolBundle" type="text/javascript" src="/public/WebDollar-dist/WebDollar-Protocol-bundle.js?v674" > </script>
  <script id="UIBundle" type="text/javascript" src="/public/WebDollar-dist/WebDollar-User-Interface-bundle.js?v674" > </script>

  <link rel="stylesheet" type="text/css" href="/public/assets/styles/stylesheet.css?v0.4" />
  <link rel="stylesheet" type="text/css" href="/public/assets/styles/mobile.css?v0.4" />
  <link rel="stylesheet" type="text/css" href="/public/assets/styles/animations.css?v0.4" />
  <link rel="stylesheet" type="text/css" href="/public/assets/styles/icomoon/style.css?v0.4" />

</html>
