D<template>
  <div id="mainSection" class="fullSection">
    <div
      class="verticalAlignMiddle alignCenter modifyTop verticalAlignMiddleMobileFix webSiteVerticalMiddle"
      @scroll="this.scrollPassByLogo()"
    >
      <img
        src="/public/assets/images/WebDollar-logo-white.png"
        alt="Cryptocurrency of the future"
        title="Cryptocurrency of the future"
        id="WebDollarLogo"
        class="mainLogo fadeIn"
      >

      <h1 class="fadeIn fadeIn2 noTransform titleWebSite">Webdollar</h1>
      <!--<h2 class="fadeIn fadeIn2" :class="this.maintenance ? '' : 'hide'"><b class="testnet">EXPERIMENTAL</b></h2>-->

      <div>
        <h3 class="fadeIn fadeIn3 mottoWebSite">Mine en betaal vanuit de browser</h3>
        <h5 class="fadeIn fadeIn4 mottoSubscript">De makkelijkste crypto-coin ter wereld</h5>

        <div class="btn-cont btnPosition fadeIn fadeIn2">
          <a
            class="btn"
            href="https://coinmarketcap.com/currencies/webdollar/" target="_blank"
            title="Browser mining cryptocurrency real-time network"
          >Actuele Koers</a>
        </div>
        <h5 class="fadeIn fadeIn6 statusMining">{{this.status}}</h5>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingSpinner from "client/components/UI/elements/Loading-Spinner.vue";

export default {
  name: "WebDollarHero",

  components: {
    LoadingSpinner
  },

  data: () => {
    return {
      status: "Jouw wallet wordt geladen...",
      loaded: false,
      maintenance: true,
      randomReloader: 10
    };
  },

  mounted() {
    window.addEventListener("load", () => {
      if (typeof window === "undefined") return;

      this.loadPoolInfo();

      //            WebDollarUserInterface.initializeParams.createElements();

      if (WebDollar.Blockchain.synchronized) {
        this.loaded = true;
        this.status = "Bezig met minen...";
      }

      //if (process.env.NODE_ENV === 'development')
      //WebDollarUserInterface.initializeParams.mining.startAutomatically = false;

      WebDollar.StatusEvents.on("blockchain/status", data => {
        // this.status = data.message;
      });

      WebDollar.StatusEvents.on("agent/status", data => {
        if (!this.loaded) {
          this.status = data.message;

          if (data.blockHeight !== undefined) {
            this.status = this.status + " " + data.blockHeight;
          }

          if (data.blockHeightMax !== undefined) {
            this.status = this.status + " / " + (data.blockHeightMax - 1);
          }
        }
      });

      WebDollar.StatusEvents.emitter.on("blockchain/status", data => {
        if (data.message === "Blockchain Ready to Mine")
          this.status = "Stel je CPU kracht hier in...";
      });

      WebDollar.StatusEvents.emitter.on("mining/status-changed", data => {
        if (data === true) this.status = "Bezig met minen...";
        else this.status = "Minen is gestopt...";
      });

      setInterval(() => {
        if (
          WebDollar.Blockchain.Mining.started &&
          WebDollar.Blockchain.Mining._hashesPerSecond === 0
        )
          location.reload();
      }, 5 * 60 * 1000);
    });
  },

  methods: {
    scrollPassByLogo() {
      if (typeof window === "undefined") return;

      var logo = this.$el.querySelector("#WebDollarLogo");
      var logoHeight = logo.height;

      console.log(logoHeight + this.getPosition(logo).y);
      console.log(window.scrollY);
    },

    getPosition(element) {
      var xPosition = 0;
      var yPosition = 0;

      while (element) {
        xPosition +=
          element.offsetLeft - element.scrollLeft + element.clientLeft;
        yPosition += element.offsetTop - element.scrollTop + element.clientTop;
        element = element.offsetParent;
      }

      return { x: xPosition, y: yPosition };
    },

    loadPoolInfo() {
      //pool
      if (
        WebDollar.Blockchain.MinerPoolManagement !== undefined &&
        WebDollar.Blockchain.MinerPoolManagement.minerPoolStarted
      )
        this.minerPoolName =
          WebDollar.Blockchain.MinerPoolManagement.minerPoolSettings.poolName;
      else this.minerPoolName = "";

      WebDollar.StatusEvents.emitter.on("miner-pools/status", data => {
        if (
          data.message === "Miner Pool Started changed" ||
          data.message === "Miner Pool Opened changed" ||
          data.message === "Miner Pool Initialized changed"
        )
          if (
            WebDollar.Blockchain.MinerPoolManagement !== undefined &&
            WebDollar.Blockchain.MinerPoolManagement.minerPoolStarted
          )
            this.minerPoolName =
              WebDollar.Blockchain.MinerPoolManagement.minerPoolSettings.poolName;
          else this.minerPoolName = "";
      });
    }
  }
};
</script>